<div class="row  w-75 mx-auto">
    <h2>contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate esse facilis accusantium aperiam vel sint nostrum sapiente eligendi ipsa inventore iste voluptatum alias, impedit quod!</p>
    <div class="card mx-auto bg-light" style="width: 45rem;">
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"> Your Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"> Your Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Please enter your message here"></textarea>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Submit</button>
                
              </div>
        </div>
      </div>


</div>
