<!-- your html code here -->
<div class="portfolio row w-75 mx-auto" id='portfolio'>
    <h2 class="col-12">Portfolio</h2>
    <p class="col-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maxime totam pariatur exercitationem fuga
        perspiciatis ducimus nulla eius! Ab consequuntur vitae maxime sit? Commodi alias odio maiores voluptatem, nulla
        reiciendis.
    </p>
    <div class="row">
        <div class="col-12 col-xl-4 mb-3">
            <div class="card" style="min-width: 18em;">
                <img src="..." class="card-img-top w-100 bg-secondary" style="height: 400px; width: 700px;" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <p class="card-text text-white text-center h2">
                        700 x 400
                    </p>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4 mb-3">
            <div class="card" style="min-width: 18em;">
                <img src="..." class="card-img-top w-100 bg-secondary" style="height: 400px; width: 700px;" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <p class="card-text text-white text-center h2">
                        700 x 400
                    </p>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4 mb-3">
            <div class="card" style="min-width: 18em;">
                <img src="..." class="card-img-top w-100 bg-secondary" style="height: 400px; width: 700px;" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <p class="card-text text-white text-center h2">
                        700 x 400
                    </p>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>